# Ignore artifacts:
build
coverage
.next
.vercel
components/ui
components.json
eslint.config.js
package.json
package-lock.json
postcss.config.mjs
timeTracking.md
tsconfig.json
vitest.config.js
utils.ts
